body{
  background-color: #ddd;
}

.box{
  background-color: white;
  width: 960px;
  margin: 600px auto 0;
  text-align: center;
  border-radius: 20px;
  border-right: 5px solid #ccc;
  border-bottom: 5px solid #999;
}

.a{
  color: orangered;
  border-bottom: 10px solid orangered;
  background-color: aquamarine;
  font-size: 3rem;
  padding: 3rem;
  transition: all 1s;
}

.box p{
  padding: 3rem;
}

.box-cover{
  margin-top: -400px;
}
.map{
  background-color: orange;
}

.map:hover{
  margin: 40px -100px;
  box-shadow: 0 0 30px 50px rgba(0,0,0,0.2);
}
